<div class="flex flex-1 items-center justify-center">
    <div class="hidden sm:ml-6 sm:block">
        <div class="flex space-x-4 menu-item">
            <!-- Current: "bg-gray-900 ", Default: "text-gray-300 hover:bg-gray-700 hover:" -->
            <a href="/" class="menu-item px-5 py-5 text-sm font-medium " aria-current="page">Home</a>
            <a href="/tags" class="menu-item px-5 py-5 text-sm font-medium " aria-current="page">Tags</a>
            <a href="/archive" class="menu-item px-5 py-5 text-sm font-medium " aria-current="page">Archive</a>
        </div>
    </div>
</div>